<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="no-cache, must-revalidate" />
  <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <!-- <link rel="stylesheet" href="dist/css/swiper.min.css"> -->
  <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>平台</title>
</head>

<body>
  <!-- <noscript>
    <strong>We"re sorry but 众智鹏诚 doesn"t work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript> -->
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <!-- <script src="dist/js/swiper.min.js"></script> -->
 
 
</body>

<style>
 
</style>
</html>
