<template>

  <div id="mymessageM">
    <div class="but1" style="margin-left:30px">
       <el-row :gutter="20">
     <el-col :span="3">
        <el-input
          placeholder="微信号"
          v-model="select.userVxNumber"
          clearable
          size="mini"
        ></el-input>
      </el-col>

      <el-col :span="3">
        <el-input
          placeholder="手机号"
          v-model="select.userPhone"
          clearable
          size="mini"
        ></el-input>
      </el-col>
      
      <el-col :span="9">
          <label style="font-size:15px; margin-left: 20px;">日期：</label>
            <el-date-picker
            v-model="Timearr"
            size="mini"
            type="daterange"
            align="center"
            unlink-panels
            value-format="yyyy-MM-dd HH:mm:ss"
            :default-time="['00:00:00', '23:59:59']"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="pickerOptions"
          ></el-date-picker>
     </el-col>

       <el-col :span="2">
          <el-button style="margin-left:-100%;"
          size="mini"
          @click="initpagedata1"
        >查询</el-button>
      </el-col>
      
    </el-row>
    </div>
    <div class="warestable">
    <el-table
      :data="tableData"
      border
      height="550"
      style="width: 100%;margin:10px 0px;"
      :header-cell-style="{textAlign:'center'}"
      :cell-style="{textAlign:'center'}"
      @select="handleSelectionChange"
      @select-all="handleSelectionChange"
    > 
     <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column
        label="购买日期"
        prop="createDate"
        width="330"
      ></el-table-column>

       <el-table-column
        prop="userVxNumber"
        label="微信绑定手机号"
        width="330"
      ></el-table-column>

      <el-table-column
        prop="userPhone"
        label="微信实名"
        width="400"
        
      >
      </el-table-column>

      <el-table-column
        prop="membersName"
        label="购买会员"
        width="310"
      >
      </el-table-column>

      <el-table-column
        prop="money2"
        label="价格（元）"
        width="250"
      >
      </el-table-column>
    </el-table>
    <div style="text-align:right;margin-right: 70px; ">
   <div style="display: inline-block;">合计:</div>
   <div style="display: inline-block; color: #e42b2b; font-size:23px; margin-left: 10px;">{{this.sumMoney1}}</div>
  <div style="display: inline-block;font-size:10px; margin-left: 5px;">元</div>

   </div>
   <div class="link-top"></div>
    </div>
    <p style="text-align:center">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="select.page"
        :page-size="select.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalElements"
      ></el-pagination>
    </p>
  </div>

</template>

<script>

import {
  pagerList,
  sumMoney
} from "@/api/incomeDetails.js";

export default {
  data() {
    return {
      dialogFormVisible: false,
      columnsVisible: true,
      select: {
        page: 1,
        pageSize: 10,
        startTime: "",
        endTime:"",
        userPhone:"",
        userVxNumber:"",
      },
      sumMoney1:"",
      Timearr: [], 
      totalElements: 0,
      editorOption: {
        modules: {
          toolbar: {
            container: [
              ["bold", "italic", "underline", "strike"],
              ["blockquote", "code-block"],
              [{ indent: "-1" }, { indent: "+1" }],
              [{ size: ["small", false, "large", "huge"] }],
              [{ header: [1, 2, 3, 4, 5, 6, false] }],
              [{ color: [] }, { background: [] }],
              [{ align: [] }],
              ["image"]
            ],
            handlers: {
              image: function(value) {
                if (value) {
                  // 调用上传组件
                  document.querySelector(".Callupload").click();
                } else {
                  this.quill.format("image", false);
                }
              }
            }
          }
        }
      },
      
      tableData: [
         
      ],

      tableData1:[],

      PublicNumberList:[],
      Releases: {
        id:'',
        enterpriseName:"",
        category: "",
        other :"",
        specifications:"",
        phone:"",
        vxNumber:"",
        contact:"",
        detailedAddress:"",
        companiesIntroduce:"",
        companiesPhotoId:"",
        typeList:"",
        results:"",
        cause: "",
        otherContent :"",
        companiesPhotoIds:[]
      },


      // 封面图片
      coverPhotoIdlist: [],
      columnsList: [],
      columnsVisible: false,
      columnsSearch: ""
    };
  },
  methods: {
    handleSizeChange(size) {
      this.initpagedata();
    },
    handleCurrentChange(page) {
      this.initpagedata();
    },

    //多选表格
    handleSelectionChange(list) {
      this.multipleSelection = list;
    },



    initpagedata1(){
      this.initPagedata();
    },
    // 加载消息列表
    initPagedata() {

    if(this.Timearr.length){
         this.select.startTime=this.Timearr[0]
         this.select.endTime=this.Timearr[1]
    }
      pagerList(this.select).then(res => {
        if (res.data && res.data.code == 0) {
          let results = res.data.data;
          this.tableData = results.content;
          this.select.page = results.page;
          this.totalElements = results.totalElements;
        }else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      })

    sumMoney(this.select).then(res => {
        if (res.data && res.data.code == 0) {
          let results = res.data.data;
          this.sumMoney1 = results;
        }else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });

    },
     linkeA(data){
       window.open(data)
     },



    // 下载文件
    downloadFiles(id) {
      window.open(exportFileInfo(id));
    }
  },
  mounted() {
    this.initPagedata();
  },
};
</script>

<style lang="scss" scoped>



#details {
  width: 100%;
  height: 600px;
  overflow-x: hidden;
  // overflow-y: scroll;
  h2 {
    border-left: 5px solid rgba(0, 121, 254, 1);
    font-family: "Arial Negreta", "Arial Normal", "Arial";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin:15px 0;
    span{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
   }
  .summary{
    line-height: 46px;
    background: rgba(242, 242, 242, 1);
    border: 0.5px solid rgba(228, 228, 228, 1);
    margin-bottom: 15px;
    span{
      font-size: 14px;
      color: #999999;
      margin-left: 10px;
      i{
        color: #333333;
        margin-left:15px;
        font-style: normal;
      }
    }
    span:nth-of-type(1){
      margin:0;
    }
  }
  .content{
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ul {
    margin-top: 15px;
    margin-left:15px;
    list-style: none;

    li:hover {
      color: rgba(0, 121, 254, 1);
      cursor: pointer;
    }
  }
}

.Layout {
  //  background: #f9f9f9;
  .sixnav {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #0a0b1b;
    line-height: 60px;
    .icon_img {
      display: inline-block;
      vertical-align: top;
      margin-left: 80px;

      img {
        width: 100%;
        height: 26px;
        background-color: #0a0b1b;
        // line-height: 26px;
        display: inline-block;
      }
    }
    > span {
      display: inline-block;
      font-family: "SourceHanSansCN-Regular";
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #ffffff;
    }
    > ul {
      display: inline-block;
      list-style: none;
      vertical-align: top;
      padding: 0;
      margin-left: 74px;
      li {
        float: left;
        line-height: 30px;
        padding: 0px 20px;
        text-align: center;
        font-family: "SourceHanSansCN-Regular";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        color: #ddd9f0;
        cursor: pointer;
        box-sizing: border-box;
        
      }
      
      .avtiveli {
        color: #00a4ff;
        
      }
    }
  }
  .enters {
    position: relative;
    .centerbutton {
      position: absolute;
      display: block;
      z-index: 22;
      bottom: 20%;
      left: 18%;
      width: 144px;
      height: 41px;
      text-align: center;
      line-height: 41px;
      border-radius: 4px;
      border: solid 1px #ddd9f0;
      font-family: "PingFang-SC-Bold";
      font-size: 14px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      img {
        width: 100%;
        display: none;
        border: none;
      }
    }
    .centerbutton:hover {
      border: none;
      i {
        display: none;
      }
      img {
        display: block;
      }
    }
  }

  .newslist {
    //  margin-top:100px;
    width: 1200px;
    margin: auto;
    height: 694px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .newsitem {
      width: 335px;
      height: 420px;
      margin-left: 20px;
      background: #fff;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 224px;
      }
      .newstitle {
        font-family: "MicrosoftYaHei";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #333333;
        margin-top: 10px;
      }
      .newscont {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0px;
        color: #666666;
        padding: 0px 10px;
      }
    }
    .news_list_top {
    //   background: #ffff;
      min-height: 420px;
      margin: 0px 20px;
      p {
        line-height: 85px;
        background: #469bed;
        color: #f9f9f9;
        padding: 0px;
        margin:0px;
        span:nth-of-type(1) {
          font-size: 20px;
	      font-weight: bold;
          color: #ffffff;
          margin-left:30px;
        }
        span:nth-of-type(2) {
          margin-left: 15px;
          font-family: 'MicrosoftYaHei';
	      font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      ul {
        max-height: 320px;
        overflow: hidden;
        overflow-y: scroll;
        margin:0;
        padding: 0;
        li {
          line-height: 68px;
        //   padding-left: 15px;
          border-bottom: 1px solid #e7e7e7;
          cursor: pointer;
          display: flex;
          span {
            display: block;
            // float: left;
          }
          span:nth-of-type(1) {
            width: 75%;
            // max-width: 160px;
            //    background: red;

            font-size: 18px;
            color: #1e1e1e;
            overflow: hidden;
            text-overflow: ellipsis;
            // -webkit-line-clamp: 1;
            white-space: nowrap;
          }
          span:nth-of-type(2) {
            width: 25%;
            text-align: center;
            //    background: yellow;
            font-size: 14px;
            color: #999999;
          }
        }
        li:hover {
          border-bottom: 1px solid #469bed;
          span {
            color: #469bed;
          }
        }
      }
      ul::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .case {
    width: 100%;
    height: 550px;
    background-color: #0d0e21;
    overflow: hidden;
    .case-box {
      width: 1200px;
      height: 417px;
      display: block;
      margin: auto;
      margin-top: 56px;
      > p {
        span {
          display: inline-block;
          width: 164px;
          height: 42px;
          border-radius: 21px;
          border: solid 1px #ddd9f0;
          font-size: 18px;
          font-weight: bold;
          // font-stretch: normal;
          line-height: 42px;
          letter-spacing: 0px;
          color: #ddd9f0;
          text-align: center;
          margin: 0px 20px;
        }
        .avruve {
          width: 195px;
          height: 50px;
          line-height: 50px;
          color: #fefefe;
        }
      }
      > ul {
        list-style: none;
        padding: 0px;
        margin-top: 43px;

        //   width: 1200px;
        //   margin:0px 0px 0px 104px;
        li {
          float: left;
          width: 280px;
          height: 213px;
          margin-left: 15px;
          background-color: #12172e;
        //   border: solid 2px rgba(77, 125, 253, 0.3);
          cursor: pointer;
          // overflow: hidden;
          img {
            width: 100%;
            height: 209px;
          }
          .title_cont {
            width: 276px;
            height: 64px;
            margin-left:2px;
            margin: 0px 2px;
            float: left;
            background-color: #ffffff;
            border: solid 1px #f1f1f1;
            padding: 10px;
            overflow: hidden;
            p {
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              // line-height: 30px;
              letter-spacing: 0px;
              color: #333333;
            }
            .date {
              text-align: right;
              font-size: 14px;
              color: #999999;
            }
          }
        }
      }
    }
  }

  .func {
    width: 100%;
    height: 883px;
    background-color: #f9fbfc;
    border: solid 1px #e5e8ed;
    .func_container {
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .news_list_top {
        flex: 1;
        min-height: 420px;
        margin: 0px 20px;
        p {
          line-height: 50px;
          // background: #469bed;
          color: #469bed;
          padding: 15px;
          span:nth-of-type(1) {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            line-height: 30px;
            letter-spacing: 0px;
            color: #00a4ff;
          }
          span:nth-of-type(2) {
            margin-left: 15px;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        ul {
          // max-height: 320px;
          overflow: hidden;
          overflow-y: scroll;
          li {
            line-height: 68px;
            padding-left: 15px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            display: flex;
            span {
              display: block;
              // float: left;
            }
            span:nth-of-type(1) {
              width: 70%;
              // max-width: 160px;
              //    background: red;

              font-size: 18px;
              color: #1e1e1e;
              overflow: hidden;
              text-overflow: ellipsis;
              // -webkit-line-clamp: 1;
              white-space: nowrap;
            }
            // span:nth-of-type(2) {
            //     width: 30%;
            //     text-align: center;
            //     //    background: yellow;
            //     font-size: 14px;
            //     color: #999999;
            // }
          }
          li:hover {
            border-bottom: 1px solid #469bed;
            span {
              color: #469bed;
            }
          }
        }
        ul::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}


</style>

<style>
.ql-container {
  min-height: 320px;
}
#mymessageM {
  line-height: 60px;
}

#mymessageM .row{
  margin-left: 25px;
}

#mymessageM .el-upload {
  line-height: 60px;
  background: #f9f9f9;
  
}


#mymessageM .warestable{
  margin-left: 25px;
}

/* #details img {
  width: 100%;
} */

/*中间的过度的横线*/
        .link-top {
            height: 1px;
            border-top: solid rgb(235, 243, 252) 1px;

        }
</style>
