<template>
  <div class="main-container body_bg">
   <div></div>
  </div>
</template>

<script>
import {
  ceshi
} from "@/api/index.js";

export default {
  data() {
    return {
      
      };
    },
  
  methods: {
    initpagedata() {
      ceshi({ }).then(res => {
        if (res.data && res.data.code == 0) {
          this.$message({
                message: res.data.data,
                type: "success"
              });
        } else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });
    },
  },
   created() {
    this.initpagedata();
  },
}
</script>