<template>
  <div class="main-container body_bg">
    <div class="login_box_big">
      <p class="logoandtitle">
        <span>
          <img src="" alt />
        </span>
        <span>
          <h1>招聘系统管理端</h1>
        </span>
      </p>
      <div class="login_box">
        <h1 class="title">欢迎您！请登录</h1>
        <div class="login">
          <p class="userinput">
            <span ref="userlogofuoc"></span>
            <input
              type="text"
              ref="phone"
              class
              @focus="elGetFocus('phone')"
              @blur="elblur('phone')"
              v-model="phone"
              placeholder="请输入手机号码"
            />
          </p>
          <p class="passwordinput">
            <span ref="passfocusa"></span>
            <input
              type="password"
              ref="password"
              @focus="elGetFocus('password')"
              @blur="elblur('password')"
              name="password"
              v-model="password"
              placeholder="请输入密码"
            />
            <span
              ref="passfocusb"
              @mousedown="
                       $refs['password'].type='text'
                      "
              @mouseout="
                       $refs['password'].type='password'
                     "
            ></span>
          </p>
          <!-- <input
                type="text"
                require
                name="username"
                placeholder="请输入手机号码"
                class="login_input"
                id="username"
                v-model="username"
              />
              <br />
              <input
                type="password"
                name="password"
                placeholder="请输入密码"
                class="login_input"
                id="password"
                v-model="password"
          />-->

          <!-- <div class="error_tip">
                <div class="error_msg" style="display: block;">{{loginError}}</div>
          </div>-->

          <!-- <input type="button" class="login_button" id="Btn" value="登录" @click="login()" /> -->
          <p style="margin-top:30px;">
          <button class="login_button" id="Btn" @click="login()" ref="loginbutton">登录</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Form } from "element-ui";
import axios from "axios";
import { setCookie } from "../unit/index.js";
import qs from "qs";
export default {
  data() {
    return {
      phone: "",
      password: "",
      loginError: "",
      remberMe: "",
      autologin: 0,
      remberpass: 0
    };
  },
  methods: {
    login() {
      let that = this;
      this.loginError = "";
      if (this.phone === "") {
        this.loginError = "账号不能为空";
        return;
      }
      if (this.password === "") {
        this.loginError = "密码不能为空";
        return;
      }
      let formData = new FormData();
      formData.append("phone", this.phone);
      formData.append("password", this.password);

      // process.env.NODE_ENV == "development" || process.env.NODE_ENV == "text"
      //   ? formData.append("password", encryptByAES(this.password))
      //   : formData.append("password", this.password);
      //线上部署 start
      // formData.append("password",this.password);
      //线上部署 end
      let data = {
        phone: this.phone,
        password: this.password,
      };
      axios
        .post(process.env.VUE_APP_URL + "api/user/login", formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
            
          }
        })
        .then(
          res => {
            if (res.data && res.data.code == 0) {
              let data = res.data.data;
              setCookie(
                "assenToken",
                data.access_token,
                data.expires_in
              );
              if (this.remberpass == 1) {
                let data = {
                  sixuser: this.phone,
                  sixpass: this.password
                };
                localStorage.setItem("loginInfo", JSON.stringify(data));
                that.$store.commit("GET_USERINFO", data);
              }
              setCookie("user", data.phone, data.expires_in);

              this.$router.push({
                name: "enterprise"
              });
            } else {
              this.$message({
                message:
                  res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
              });
            }
          },
          err => {
            const { data } = err;
          }
        );
    },
    // 获取焦点
    elGetFocus(element) {
      if (element == "phone") {
        this.$refs["userlogofuoc"].className = "userlogofocus";
      } else {
        this.$refs["passfocusa"].className = "passfocusa";
        this.$refs["passfocusb"].className = "passfocusb";
      }
    },
    // 失去焦点
    elblur(element) {
      if (element == "phone") {
        this.$refs["userlogofuoc"].removeAttribute("class");
      } else {
        this.$refs["passfocusa"].removeAttribute("class");
        this.$refs["passfocusb"].removeAttribute("class");
      }
    },
  },
  mounted() {
    let autologin = JSON.parse(localStorage.getItem("autologin"));
    let remberpass = JSON.parse(localStorage.getItem("remberpass"));
    if (remberpass === true) {
      this.remberpass = "1";
      this.phone = JSON.parse(localStorage.getItem("loginInfo")).sixuser;
      this.password = JSON.parse(localStorage.getItem("loginInfo")).sixpass;
      if (autologin === true) {
        this.autologin = "1";
        setTimeout(() => {
          this.$refs.loginbutton.click();
        }, 2000);
      }
    }
    this.$refs["phone"].focus();
    let that = this;
    document.onkeydown = function(e) {
      var key = window.event.keyCode;
      if (key == 13) {
        that.login();
      }
    };
  }
};
</script>
<style scope>
@media screen and (min-width: 960px) {
  html {
    font-size: 444%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 444%;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 444%;
  }
}
@media screen and (min-width: 1366px) {
  html {
    font-size: 444%;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 520%;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 625%;
  }
}
</style>
<style lang="scss" scoped>
@import "../assets/variables.css";
// =======================   主体样式 end   ===========================

.login_box_big {
  width: 3.52rem;
  height: 3.95rem;
  position: fixed;
  right: 17.75%;
  top: 24.5%;
  // border: 1px solid red;
  .logoandtitle {
    margin-bottom: 0.3rem;
    //span {
     // display: inline-block;
      //vertical-align: text-top;
    //}
    span:nth-of-type(1) {
      width: 0.4rem;
      height: 0.4rem;
      img {
        width: 100%;
      }
    }
    span:nth-of-type(2) {
      margin-left: 0.08rem;
      h1 {
        font-family: "MicrosoftYaHei";
        font-size: 0.3rem;
        font-weight: bold;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #2370ff;
      }
    }
  }
  .login_box {
    width: 3.52rem;
    height: 3.29rem;
    background-color: #f8f8f8;
    box-shadow: 0px 6px 0.59rem 0px rgba(219, 186, 131, 0.32);
    border-radius: 14px;
    overflow: hidden;
    .title {
      line-height: 0.42rem;
      font-family: "MicrosoftYaHei";
      font-size: 0.2rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.2rem;
      letter-spacing: 0px;
      color: #1281f9;
      margin: 0.3rem 0px;
    }

    .login {
      // .error_tip {
      //   clear: both;
      //   text-align: center;
      //   line-height: 18px;
      //   height: 18px;
      //   color: #ff3b30;
      //   display: block;
      //   font-weight: bold;
      // }
      .userinput {
        width: 2.6rem;
        height: 0.4rem;
        margin: auto;
        margin-bottom: 0.19rem;
        padding: 0px 0.2rem;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 1px #e0e0e0;
        display: flex;
        align-items: center;
        //  span{
        //    display: block;
        //  }
        input {
          display: inline-block;
          outline: none;
          border: none;
          margin-left: 12px;
          width: 2.26rem;
          font-size: 14px;
          font-weight: normal;
          letter-spacing: 0px;
          color: #999999;
        }
        span:nth-of-type(1) {
          width: 0.16rem;
          height: 0.15rem;
          background-image: url("../assets/imgs/login/账号_moren@2x.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center center;
        }
      }
      .passwordinput {
        width: 2.6rem;
        height: 0.4rem;
        margin: auto;
        margin-bottom: 0.1rem;
        padding: 0px 0.2rem;
        background-color: #ffffff;
        border-radius: 0.2rem;
        border: solid 1px #e0e0e0;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          //  line-height: 40px;
        }
        input {
          display: inline-block;
          outline: none;
          border: none;
          margin-left: 0.12rem;
          width: 2.26rem;
          font-size: 0.14rem;
          font-weight: normal;
          color: #999999;
        }
        span:nth-of-type(1) {
          width: 0.16rem;
          height: 0.15rem;
          background-image: url("../assets/imgs/login/密码_moren@2x.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center center;
        }
        span:nth-of-type(2) {
          width: 0.18rem;
          height: 0.07rem;
          background-image: url("../assets/imgs/login/眼睛默认@2x.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center center;
          cursor: pointer;
        }
      }
      .loginset {
        width: 2.6rem;
        // height: 40px;
        margin-bottom: 0.24rem;
        text-align: left;
        // margin: auto;
        padding: 0px 0.3rem;
        span:nth-of-type(1) {
          vertical-align: top;
          font-family: "MicrosoftYaHei";
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;

          letter-spacing: 0px;
          color: #666666;
          #autologin {
            width: 0.15rem;
            height: 0.15rem;
            background-image: url("");
            background-color: #ffffff;
            border-radius: 2px;
            border: solid 1px #bababa;
            outline: none;
            appearance: none;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none;
            //visibility: hidden;
            cursor: pointer;
            margin: 0;
            padding: 0;
          }
          #autologin:checked {
            background: url("../assets/imgs/login/勾选@2x.png") no-repeat
              90% center;
            outline: none;
            width: 0.15rem;
            height: 0.15rem;
            background-color: #ffffff;
            border-radius: 2px;
            border: solid 1px #bababa;
          }
        }
        span:nth-of-type(2) {
          vertical-align: top;
          font-family: "MicrosoftYaHei";
          font-size: 12px;
          font-weight: normal;
          color: #666666;
          margin-left: 0.3rem;
          #remeberpass {
            width: 0.15rem;
            height: 0.15rem;
            background-image: url("");
            background-color: #ffffff;
            border-radius: 2px;
            border: solid 1px #bababa;
            outline: none;
            appearance: none;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none;
            //visibility: hidden;
            cursor: pointer;
            margin: 0;
            padding: 0;
          }
          #remeberpass:checked {
            background: url("../assets/imgs/login/勾选@2x.png") no-repeat
              90% center;
            outline: none;
            width: 0.15rem;
            height: 0.15rem;
            background-color: #ffffff;
            border-radius: 2px;
            border: solid 1px #bababa;
          }
        }
      }
      #Btn {
        width: 3rem;
        height: 0.4rem;
        background-color: #1281f9;
        border-radius: 0.2rem;
        border: none;
        outline: none;
        font-family: "SimHei";
        font-size: 0.16rem;
        color: #fefefe;
      }
      .forgetpass {
        margin-top: 0.1rem;
        text-align: right;
        span {
          font-family: "MicrosoftYaHei";
          font-size: 12px;
          color: #666666;
          cursor: pointer;
        }
        span:nth-of-type(2) {
          margin-left: 0.16rem;
          margin-right: 0.26rem;
        }
        span:hover {
          color: #1281f9;
        }
      }
    }
  }
}

.about {
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 5%;
  font-size: 0.12rem;
  text-align: center;
  p {
    line-height: 0.2rem;
  }
  a {
    color: #fff;
  }
}
.body_bg {
  background: url("../assets/imgs/login/login背景图.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.userlogofocus {
  background-image: url("../assets/imgs/login/账号_dl@2x.png") !important;
}
.passfocusa {
  background-image: url("../assets/imgs/login/密码_dl@2x.png") !important;
}
.passfocusb {
  background-image: url("../assets/imgs/login/眼睛dl@2x.png") !important;
}
// =======================   主体样式 end   ===========================
</style> 