<template>
     <div class="Aside">
         <!-- :collapse='true' -->
    
            <el-menu
                router
                collapse-transition
                mode="vertical"
                style="border-right:none"
                class="el-menu-vertical-demo"
                @open="handleOpen"
                @close="handleClose"
                text-color="rgb(31, 29, 32)"
                :unique-opened='true'
                active-text-color="#ffd04b">
                <h3 style="color:rgb(31, 29, 32);text-align:center">
                    招聘管理系统
                </h3>

                <el-submenu index="1" @click="intCount1" >
                    <template slot="title" >
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">认证信息审核
                    </span>  
                     <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:3px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.countNum}}</span>
                    </span>

                    </template>
                    <el-menu-item-group >
                    <template slot="title"></template>
                    <el-menu-item index="enterprise">企业认证审核
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.countType1}}</span>
                    </span>
                        
                        </el-menu-item> 

                    <el-menu-item index="personal">个人认证审核
                     <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.countType2}}</span>
                    </span>

                    </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                 <el-submenu :index="2" @click.native ="countAndRecruitType" >
                    <template slot="title">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">招聘信息审核</span>

                    <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.factoryRecruitment}}</span>
                    </span>
                    </template>
                    <el-menu-item-group>
                    <template slot="title"></template>
                    <el-menu-item index="factory">工厂招聘

                    <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                       <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.factoryRecruitment1.type1}}</span>
                    </span>
                    </el-menu-item>
                    <el-menu-item index="design">设计版师
                    <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                       <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.factoryRecruitment1.type2}}</span>
                    </span>
                    </el-menu-item>
                    <el-menu-item index="quickRecruit">临工快招
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.factoryRecruitment1.type3}}</span>
                        </span>
                        
                    </el-menu-item>
                    <el-menu-item index="moreRecruitment">更多招聘
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.factoryRecruitment1.type4}}</span>
                        </span>
                    </el-menu-item>
                    <el-menu-item index="archivesMouths">档口招聘
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.factoryRecruitment1.type5}}</span>
                        </span>
                    </el-menu-item>
                    <el-menu-item index="electricityAnchor">电商&主播
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.factoryRecruitment1.type6}}</span>
                        </span>
                    </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="3" @click.native ="countAndJobInformationType">
                    <template slot="title">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">求职信息审核</span>
                     <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.jobInformation}}</span>
                    </span>
                    </template>
                    <el-menu-item-group>
                    <template slot="title"></template>
                    <el-menu-item index="temporaryEmployment">临工求职
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.jobInformationType.type1}}</span>
                        </span>
                    </el-menu-item>
                    <el-menu-item index="IndividualJob">个人求职
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.jobInformationType.type2}}</span>
                        </span>
                    </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                 <el-menu-item index="cooperationProcessing">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">合作加工审核
                    <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.releases.type1}}</span>
                    </span>
                    </span>
                   
                </el-menu-item>


                 <el-menu-item index="embroideryWater">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">绣印洗水发布
                    <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.releases.type3}}</span>
                    </span>
                    </span>
                   
                </el-menu-item>

                <el-menu-item index="accessories">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">布行辅料
                         <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.releases.type4}}</span>
                    </span>
                    </span>
                    
                </el-menu-item>

                <el-submenu index="4" @click.native ="countAndSecondHandType">
                    <template slot="title">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">二手转让审核</span>
                    <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.releases.type2}}</span>
                    </span>
                    </template>
                    <el-menu-item-group>
                    <template slot="title"></template>
                    <el-menu-item index="transfer">二手转让
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.secondHand.type1}}</span>
                        </span>
                    </el-menu-item>
                    <el-menu-item index="wantBuy">二手求购
                        <span style="border-radius: 30%;  height: 15px; margin-top: 17px; margin-left:10px ; width: 27px;    display: inline-block;    background: #238ff9;      vertical-align: top;">
                            <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.secondHand.type2}}</span>
                        </span>
                    </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                 <el-menu-item index="rentHouse">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">租房信息审核
                        <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.rentHouse}}</span>
                    </span>
                </el-menu-item>

                 <el-menu-item index="postArticle">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">帖子审核
                        <span style="border-radius: 30%;  height: 15px; margin-top: 21px; margin-left:5px ; width: 27px;    display: inline-block;    background: #b31d18;      vertical-align: top;">
                        <span style="display: block;    color: #FFFFFF;    height: 17px;    line-height: 17px;    text-align: center">{{this.postArticle}}</span>
                    </span>
                </el-menu-item>

                  <el-menu-item index="incomeDetails">
                    <i class="el-icon-edit-outline"></i>
                    <span slot="title">收入详情</span>
                </el-menu-item>

           </el-menu>
               <div class="verticalBar"></div>
            </div>
         
</template>

<script>

import {
  findCountResults,
  findCountResultsAndType
} from "@/api/enterprise.js";

import {
  findCountResults1,
  findCountRecruitType
} from "@/api/design.js";

//求职信息
import {
  findCountNum1,
  findCountNumAndReleaseType1
} from "@/api/temporaryEmployment.js";

//合作加工/绣印/布行/二手
import {
  findCountNum2,
  findCountNumAndReleaseType2
} from "@/api/cooperationProcessing.js";

//租房信息
import {
  findCountNum3
} from "@/api/rentHouse.js";

//贴子信息
import {
  findCountNum4
} from "@/api/postArticle.js";





export default {
    data(){
       return{
           isCollapse:"",
           countNum: "",
           countType1 :"",
           countType2 :"",
           factoryRecruitment:"",
           factoryRecruitment1:{
               type1:"",
               type2:"",
               type3:"",
               type4:"",
               type5:"",
               type6:""
           },
           jobInformation:"",
           jobInformationType:{
               type1:"",
               type2:"",
           },
           releases:{
               type1 : "",
               type2 : "",
               type3 : "",
               type4 : "",
           },

           secondHand :{
               type1 : "",
               type2 : "",
           }, 
           rentHouse :"",
           postArticle :"",

       }
    },
   methods: {
      handleOpen(key, keyPath) {
      
      },
      handleClose(key, keyPath) {
      
      },

      intCount(){
        findCountResults().then(res => {
        if (res.data && res.data.code == 0) {
            this.countNum = res.data.data;
        }else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });
      },

      intCount1(){
        findCountResults1().then(res => {
        if (res.data && res.data.code == 0) {
            this.factoryRecruitment = res.data.data;
        }else {
          this.$message({
            message:
              res.data && res.data.msg
                ? res.data.msg
                : "数据错误，请重新点击！",
            type: "error"
          });
        }
      });
      },

      intCount2(){
        findCountNum1().then(res => {
            if (res.data && res.data.code == 0) {
                this.jobInformation = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      intCount3(){
        findCountNum2({typeList : 1}).then(res => {
            if (res.data && res.data.code == 0) {
                this.releases.type1 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      intCount4(){
        findCountNum2({typeList : 3}).then(res => {
            if (res.data && res.data.code == 0) {
                this.releases.type3 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      intCount5(){
        findCountNum2({typeList : 4}).then(res => {
            if (res.data && res.data.code == 0) {
                this.releases.type4 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      intCount6(){
        findCountNum2({typeList : 2}).then(res => {
            if (res.data && res.data.code == 0) {
                this.releases.type2 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      intCount7(){
        findCountNum3().then(res => {
            if (res.data && res.data.code == 0) {
                this.rentHouse = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      intCount8(){
        findCountNum4().then(res => {
            if (res.data && res.data.code == 0) {
                this.postArticle = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

        



      countAndType(){
          findCountRecruitType({ type : '1' }).then(res => {
            if (res.data && res.data.code == 0) {
                this.countType1 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      countAndType1(){
          findCountRecruitType({ type : '2' }).then(res => {
            if (res.data && res.data.code == 0) {
                this.countType2 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },

      countAndRecruitType(){
          findCountRecruitType({ type : '1' }).then(res => {
            if (res.data && res.data.code == 0) {
                this.factoryRecruitment1.type1 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        })
          findCountRecruitType({ type : '2' }).then(res => {
            console.log(1)
            if (res.data && res.data.code == 0) {
                this.factoryRecruitment1.type2 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        })

         findCountRecruitType({ type : '3' }).then(res => {
            if (res.data && res.data.code == 0) {
                this.factoryRecruitment1.type3 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        })

        findCountRecruitType({ type : '4' }).then(res => {
            if (res.data && res.data.code == 0) {
                this.factoryRecruitment1.type4 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        })
        findCountRecruitType({ type : '5' }).then(res => {
            if (res.data && res.data.code == 0) {
                this.factoryRecruitment1.type5 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        })
        findCountRecruitType({ type : '6' }).then(res => {
            if (res.data && res.data.code == 0) {
                this.factoryRecruitment1.type6 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        })
      },

      countAndJobInformationType(){
          findCountNumAndReleaseType1({ type : 1 }).then(res => {
            if (res.data && res.data.code == 0) {
                this.jobInformationType.type1 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        })
        findCountNumAndReleaseType1({ type : 2 }).then(res => {
            if (res.data && res.data.code == 0) {
                this.jobInformationType.type2 = res.data.data;
            }else {
            this.$message({
                message:
                res.data && res.data.msg
                    ? res.data.msg
                    : "数据错误，请重新点击！",
                type: "error"
            });
            }
        });
      },
      countAndSecondHandType(){
        findCountNumAndReleaseType2({ typeList : 2,secondTransferType:1}).then(res => {
            if (res.data && res.data.code == 0) {
                this.secondHand.type1 = res.data.data;
            }else {
                this.$message({
                    message:
                    res.data && res.data.msg
                        ? res.data.msg
                        : "数据错误，请重新点击！",
                    type: "error"
                });
            }
        })
        findCountNumAndReleaseType2({ typeList : 2,secondTransferType:2 }).then(res => {
            if (res.data && res.data.code == 0) {
                this.secondHand.type2 = res.data.data;
            }else {
                this.$message({
                    message:
                    res.data && res.data.msg
                        ? res.data.msg
                        : "数据错误，请重新点击！",
                    type: "error"
                });
            }
        }); 
      }

    
    },
      mounted() {
        this.intCount();
        this.countAndType();
        this.countAndType1();

        this.intCount1();
        this.intCount2();
        this.intCount3();
        this.intCount4();
        this.intCount5();
        this.intCount6();
        this.intCount7();
        this.intCount8();
      },
}
</script>

<style lang="scss" scoped>
 
// 鼠标悬停效果
$mousehover-color:rgba(14, 221, 240, 0.32) !important;

.Aside{
    .el-menu{
        .el-menu-item:hover{
           background-color: $mousehover-color;
           border-left: 2px solid #dac305
        }

        .el-submenu:hover{
           background-color: $mousehover-color;
           border-left: 2px solid #dac305
        }

        .el-submenu__title:hover{
            background-color: $mousehover-color;
            border-left: 2px solid #dac305
        }

       .el-submenu:hover{
            background-color:rgba(14, 221, 240, 0.32) !important;
           
         }
        
    }

    width: 200px;
    float: left;
    
}



  
</style>


