// html,
// body,
// div,
// span,
// nav,
// header,
// iframe,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// section,
// footer,
// a,
// form,
// address,
// big,
// cite,
// code,
// del,
// dfn,
// em,
// img,
// ins,
// fieldset,
// q,
// s,
// samp,
// small,
// strike,
// strong,
// sub,
// sup,
// label,
// var,
// b,
// u,
// i,
// input,
// dl,
// dt,
// dd,
// ol,
// ul,
// li,
// figure,
// figcaption {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   vertical-align: baseline;
// }

html,
body {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  background: #ffffff;
}

form,
fieldset {
  border: 0 none;
}

ol,
ul li {
  list-style: none;
}

img {
  border: 0 none;
  max-width: 100%;
}

input,
select {
  outline: none;
  font-family: "Microsoft YaHei";
}

textarea {
  resize: none;
}

button {
  outline: none;
  border: 0;
  font-family: "Microsoft YaHei";
}

i,
em {
  font-style: normal;
}

a {
  color: #535353;
  text-decoration: none;
}

a:hover, a.active, a:focus {
  text-decoration: none;
}

svg {
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

body {
  position: relative;
  margin: 0;
}
html {
    font-size:6.25%;
    // font-size: 625%;
    /*100 ÷ 16 × 100% = 625%*/
}

// @media screen and (min-width: 360px) and (max-width: 374px) and (orientation: portrait) {
//     html {
//         font-size: 703%;
//     }
// }

// @media screen and (min-width: 375px) and (max-width: 383px) and (orientation: portrait) {
//     html {
//         font-size: 732.4%;
//     }
// }

// @media screen and (min-width: 384px) and (max-width: 399px) and (orientation: portrait) {
//     html {
//         font-size: 750%;
//     }
// }

// @media screen and (min-width: 400px) and (max-width: 413px) and (orientation: portrait) {
//     html {
//         font-size: 781.25%;
//     }
// }

// @media screen and (min-width: 414px) and (max-width: 431px) and (orientation: portrait) {
//     html {
//         font-size: 808.6%;
//     }
// }

// @media screen and (min-width: 432px) and (max-width: 479px) and (orientation: portrait) {
//     html {
//         font-size: 843.75%;
//     }
// }