@charset "UTF-8";
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Avenir,tahoma,YaHei", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 16px;
  overflow: hidden;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: "Microsoft Yahei";
}

nav,
ul {
  list-style: none;
}

input,
textarea {
  font-family: "Microsoft Yahei";
}

a {
  color: #2d4b7b;
}

a.linkhei,
.linkhei {
  color: #000;
}

html {
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 625%;
  /*100 ÷ 16 × 100% = 625%*/
}

@media screen and (min-width: 360px) and (max-width: 374px) and (orientation: portrait) {
  html {
    font-size: 703%;
  }
}

@media screen and (min-width: 375px) and (max-width: 383px) and (orientation: portrait) {
  html {
    font-size: 732.4%;
  }
}

@media screen and (min-width: 384px) and (max-width: 399px) and (orientation: portrait) {
  html {
    font-size: 750%;
  }
}

@media screen and (min-width: 400px) and (max-width: 413px) and (orientation: portrait) {
  html {
    font-size: 781.25%;
  }
}

@media screen and (min-width: 414px) and (max-width: 431px) and (orientation: portrait) {
  html {
    font-size: 808.6%;
  }
}

@media screen and (min-width: 432px) and (max-width: 479px) and (orientation: portrait) {
  html {
    font-size: 843.75%;
  }
}
